*{
  
    margin: 0px;
    padding: 0px;
}

header{
 
 background-color:darkgoldenrod;
 font-size: 40px;

 text-align: center;

}



.container{

    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.container div{
   
  
    background-color: orangered;
    
}

